/* header and nav bar styling */
#container{
	width: 100%;
	margin: 10px auto;
	background-color: #E6E8E8;
	color: #333;
	border: 1px solid black;
	line-height: 130%;
	overflow: auto;
	}

#header{
	padding: 0em 0em;
	background-color: #4285f4;
	border: 1px solid black;
}

#header h1{
	text-align: center;
	padding: 0;
	font-size: 52px;
	color: white;
}

#header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 10%;
	padding: 5px;
}

#navbar {
	overflow: hidden;
	background-color: #4285f4;
	overflow: hidden;
	float: left;
	border: 1px solid black;
	width: 150px;
	float: left;
}

#navbar ul{
	list-style-type: none;
	padding: 0;
	width: 150px;
}

li a{
	text-decoration: none;
	display: block;
	font-size: 24px;
	text-align: center;
	padding: 1em 0;
	color: #FFFFFF;
}

li a:hover{
	background-color: #9AE9F3;
	padding: 1em 0;
	color: #000000;
}

#content{
	margin-left: 200px;
	margin-right: 200px;
	padding: 1em;
}

.homeContent{
	text-align: center;
	max-width: 36em;
}

#getStartedButton{
	border: 1px solid black;
	background-color: #4285f4;
	color: #FFFFFF;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	margin-left: 75px;
	margin-right: 75px;
}

#getStartedButton a{
	text-decoration: none;
	color: #FFFFFF;
}

#getStartedButton a:hover{
	text-decoration: none;
	color: #000000;
}

.homeContent img{
	max-width: 60%;
}

#footer{
	padding: 0em 0em;
	background-color: #4285f4;
	border: 1px solid black;
	color: #FFFFFF;
	text-align: center;
}

/* login page styling */
div.form{
    display: block;
    text-align: center;
}

form{
    display: inline-block;
    text-align: center;
    margin-left: auto;

}

/* contact us member bio styling */
.members{
	margin: 0px auto;
	width: 40%;
	margin-bottom: 16px;
	padding: 0 8px;
	text-align: center;
}

.cont{
	padding: 0 16px;
}

.member{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color: #FFFFFF;
}

/* profile page styling */

/* #header img{
	width: 160px;
	display: block;
	display:inline-block;
} */


/* #dropdown{
	float:left;
	overflow:hidden;
}

#dropdown #dropButton{
	font-size:16pt;
	margin:0;
	font-family: inherit;
	background-color:#4285f4;
	outline:none;
	border:1px solid black;
} */

/* #dropdown_content{
	display: none;
	min-width:172px;
	color: white;
	background-color: #4285f4;
	position:absolute;
	border: 1px solid black;
}

#dropdown_content a{
	float:none;
	color:white;
	padding:12px 0px;
	display:block;
	text-align: center;
	border:1px solid black;
}

#dropdown:hover #dropdown_content{
	display: block;
} */
